.planet-jupiter-main {
  position: relative;
  width: 100px;
  height: 100px;
  top: 45vh;
  left: 45vw;
  -webkit-transform: skewY(14deg);
          transform: skewY(14deg);
}

.planet-revers-skew {
  -webkit-transform: skewY(-14deg);
          transform: skewY(-14deg);
}

.planet-jupiter-ellipse {
  -webkit-animation-name: planet-jupiter-ellipse;
          animation-name: planet-jupiter-ellipse;
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.planet-jupiter-scaling {
  -webkit-animation-name: planet-jupiter-scaling;
          animation-name: planet-jupiter-scaling;
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  position: relative;
}

.jupiter {
  width: 280px;
  height: 280px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 20px 5px #000 inset, 0 0 20px 2px #000;
          box-shadow: 0 0 20px 5px #000 inset, 0 0 20px 2px #000;
  background-image: url("../pictures/jupiterExecuted.jpg");
  -webkit-animation-name: planet-jupiter-rotate-background;
          animation-name: planet-jupiter-rotate-background;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.planet-svg-jupiter {
  width: 1030px;
  height: 1030px;
  position: fixed;
  top: -637px;
  left: -46px;
  display: none;
}

.planet-jupiter-ellipse:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.planet-jupiter-ellipse:hover .planet-jupiter-scaling {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.planet-jupiter-ellipse:hover .planet-svg-jupiter {
  display: inherit;
}

@-webkit-keyframes planet-jupiter-rotate-background {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 320px;
  }
}

@keyframes planet-jupiter-rotate-background {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 320px;
  }
}

@-webkit-keyframes planet-jupiter-scaling {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes planet-jupiter-scaling {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes planet-jupiter-ellipse {
  from {
    -webkit-transform: rotate(0deg) translateX(480px) translateY(610px) rotate(0deg);
            transform: rotate(0deg) translateX(480px) translateY(610px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(480px) translateY(610px) rotate(-360deg);
            transform: rotate(360deg) translateX(480px) translateY(610px) rotate(-360deg);
  }
}

@keyframes planet-jupiter-ellipse {
  from {
    -webkit-transform: rotate(0deg) translateX(480px) translateY(610px) rotate(0deg);
            transform: rotate(0deg) translateX(480px) translateY(610px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(480px) translateY(610px) rotate(-360deg);
            transform: rotate(360deg) translateX(480px) translateY(610px) rotate(-360deg);
  }
}

/* lines => */
.planet-jupiter-curveLine-4-4,
.planet-jupiter-curveLine-3-4,
.planet-jupiter-curveLine-2-4,
.planet-jupiter-curveLine-1-4 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: planet-jupiter-appearingLine 1s linear forwards;
          animation: planet-jupiter-appearingLine 1s linear forwards;
}

.planet-jupiter-oneLine {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: planet-jupiter-appearingLine 1s linear forwards;
          animation: planet-jupiter-appearingLine 1s linear forwards;
  -webkit-animation-delay: 0.39s;
          animation-delay: 0.39s;
}

.planet-jupiter-rectangleLongLine-1-2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: planet-jupiter-appearingLine 1s linear forwards;
          animation: planet-jupiter-appearingLine 1s linear forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.planet-jupiter-rectangleLongLine-2-2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: planet-jupiter-appearingLine 1s linear forwards;
          animation: planet-jupiter-appearingLine 1s linear forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.planet-jupiter-rectangleShortLine-1-2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: planet-jupiter-appearingLine 0.5s linear forwards;
          animation: planet-jupiter-appearingLine 0.5s linear forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.planet-jupiter-rectangleShortLine-2-2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: planet-jupiter-appearingLine 0.5s linear forwards;
          animation: planet-jupiter-appearingLine 0.5s linear forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes planet-jupiter-appearingLine {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes planet-jupiter-appearingLine {
  to {
    stroke-dashoffset: 0;
  }
}

/* <= lines */
/* text-in-the-window => */
.planet-jupiter-text-in-the-window {
  position: absolute;
  font-family: "vanbergerstencil", Arial, sans-serif;
  color: #4bdc87;
  top: -444px;
  left: 249px;
  width: 370px;
  height: 190px;
  overflow: hidden;
  display: none;
}

.planet-jupiter-p-in-the-window {
  font-size: 35px;
  overflow: hidden;
  border-right: 0.15em solid #4bdc87;
  white-space: nowrap;
  margin: 0 auto;
  display: none;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  display: none;
}

.planet-jupiter-ellipse:hover .planet-jupiter-text-in-the-window {
  display: inherit;
}

.planet-jupiter-ellipse:hover .planet-jupiter-p-in-the-window {
  display: inherit;
  -webkit-animation: p-appearing 2.1s linear forwards, typing 2s 2s steps(30, end), blink-caret 0.5s step-end infinite;
          animation: p-appearing 2.1s linear forwards, typing 2s 2s steps(30, end), blink-caret 0.5s step-end infinite;
}

@-webkit-keyframes p-appearing {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0.01;
  }
  100% {
    opacity: 1;
  }
}

@keyframes p-appearing {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0.01;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #4bdc87;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #4bdc87;
  }
}

.planet-jupiter-button {
  position: absolute;
  bottom: 23px;
  left: 77px;
  margin: 0 0;
  padding: 0px 6px;
  border: 0;
  background: red;
  border-radius: 8px;
  -webkit-box-shadow: 0 12px 0 #920606;
          box-shadow: 0 12px 0 #920606;
  color: black;
  cursor: pointer;
  font: inherit;
  outline: 0;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  display: none;
}

.planet-jupiter-text-in-the-bottom {
  margin: 0 0;
  font-size: 65px;
}

.planet-jupiter-text-in-the-bottom {
  -webkit-animation-name: lighting;
          animation-name: lighting;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.planet-jupiter-ellipse:hover .planet-jupiter-button {
  display: inherit;
  -webkit-animation-name: button-appearing;
          animation-name: button-appearing;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: forwards;
          animation-iteration-count: forwards;
}

@-webkit-keyframes button-appearing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.01;
  }
  100% {
    opacity: 1;
  }
}

@keyframes button-appearing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.01;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes lighting {
  0% {
    color: black;
  }
  50% {
    color: #fd7878;
  }
  100% {
    color: black;
  }
}

@keyframes lighting {
  0% {
    color: black;
  }
  50% {
    color: #fd7878;
  }
  100% {
    color: black;
  }
}

.planet-jupiter-button:active {
  -webkit-box-shadow: 0 4px 0 #920606;
          box-shadow: 0 4px 0 #920606;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

/* <= text-in-the-window */
/*# sourceMappingURL=jupiter.css.map */